@charset "UTF-8";

@font-face {
	font-family: 'ubuntuthin';

	src: url('../font/ubuntuthin.ttf') format('truetype');
	src: url('../font/ubuntuthin.woff2') format('woff2');
	src: url('../font/ubuntuthin.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #0d0e0f;
	overflow-x: hidden;
}

div {
	text-align-last: center;
	-moz-text-align-last: center;
	-ms-text-align-last: center;

	text-align: center;
	text-align-all: center;

	vertical-align: center;
	horiz-align: center;

	margin-top: 20%;
}

h1 {
	color: #737373;
	font-size: 52px;
	font-family: 'ubuntuthin', sans-serif;
}

#mpd_conn_y  {
	color: darkgreen;
	font-size: 36px;
	font-family: 'ubuntuthin', sans-serif;
}

#mpd_conn_n {
	color: darkred;
	font-size: 36px;
	font-family: 'ubuntuthin', sans-serif;
}

button {
	background-color: transparent;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	font-size: 31px;
	color: #737373;

	padding-left: 11px;
	padding-right: 11px;
	display: inline-block;

	-webkit-border-radius: 46%;
	-moz-border-radius: 46%;
	border-radius: 46%;
	border: 2px solid #737373;
}
