@charset "UTF-8";

@font-face {
	font-family: 'ubuntuthin';

	src: url('../font/ubuntuthin.ttf') format('truetype');
	src: url('../font/ubuntuthin.woff2') format('woff2');
	src: url('../font/ubuntuthin.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}

html {
	overflow-y: hidden;
}

body {
	margin: 0;
	background: #0d0e0f no-repeat fixed;
}

html, body {
	height: 100%;
}

#albumart {
	width: 57.5%;
	align-content: center;
	align-items: center;
	text-align-all: center;
	margin: auto;
}

div {
	font-family: 'ubuntuthin', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	size: 10px;
	color: #ADB5BD;
	padding: 10px;
	align-content: center;
	align-items: center;
	text-align: center;
}

li {
	text-decoration: none;
	background-color: transparent;
	border: 0 transparent;
	content: "";
	list-style-type: none;
}

p, .info {
	font-family: 'ubuntuthin', sans-serif;
	font-weight: bolder;
	font-style: normal;
	font-size: 16px;

	width: available;
	color: #ff6700;
}

button, .media {
	background-color: transparent;
	color: white;
	border: 0 none transparent;
	width: 15px;
	margin: auto;
	position: center;
	padding-left: 8%;
	padding-right: 12%;
	padding-bottom: 7%;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;

	background-color: #555555;
	color: #ffffff;

	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -52.5px;

	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;

	top: 100%;
	left: 50%;

	margin-left: -5px;
	border: 5px solid transparent;
	border-top-color: #555;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.tg, #button_table {
	width: 100%;
	align-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
}

.status_table {
	font-size: 26px;
	text-align: center;
	width: fit-content;
	margin-right: -25%;
}

td, tr {
	height: 50%;
	width: 50%;
	align-content: center;
	align-items: center;
	text-align: center;
}

#status {
	border: 0 none transparent;
	margin-left: 21%;
	margin-right: 21%;
	margin-top: 2%;
	padding: 0;
	overflow: hidden;
}

#files, #queue {
	overflow-y: scroll;
	font-size: 15px;
	width: 100%;
	padding: 0;
	padding-bottom: 1px;
	min-height: 100%;
	height: 175px;
	margin-bottom: fill;
}

#t_head {
	min-height: 100%;
	height: 5px;
	width: 50%;
}

.queue_input, .file_input, #files, #queue {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#files::-webkit-scrollbar, #queue::-webkit-scrollbar {
	display: none;
}

.tg, #button_table {
	width: 100%;
	align-items: center;
	text-align-all: center;
}

.file_input {
	font-size: 15px;
	size: 15px;

	border: 0 transparent;
	padding: 5px 1px;
	width: 95%;

	background-color: transparent;
	color: #d00000;

	text-align: left;
	vertical-align: top;

	position: relative;
	right: 0;
	top: 0;
}

.file_input:hover {
	font-size: 15px;
	size: 15px;

	border: 0 transparent;
	padding: 5px 1px;
	width: 95%;

	background-color: #0a0a0b;
	color: #d00000;

	text-align: left;
	vertical-align: top;

	position: relative;
	right: 0;
	top: 0;
}

.queue_input {
	font-size: 15px;
	size: 15px;

	border: 0 transparent;
	padding: 5px 1px;
	width: 100%;

	background-color: transparent;
	color: #ffba08;

	text-align: left;
	vertical-align: top;

	position: relative;
	right: 0;
	top: 0;
	margin-left: 5%;
}

.queue_input:hover {
	font-size: 15px;
	size: 15px;

	border: 0 transparent;
	padding: 5px 1px;
	width: 99.99%;

	background-color: #0a0a0b;
	color: #ffba08;

	text-align: left;
	vertical-align: top;

	position: relative;
	right: 0;
	top: 0;
}

.queue_input, .file_input, #files, #queue {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#files::-webkit-scrollbar, #queue::-webkit-scrollbar {
	display: none;
}

.queue_remove {
	background-color: transparent;
	color: white;
	border: 0 none transparent;
	width: 15px;

	overflow-y: scroll;
	padding: 0;

	margin: auto;
	float: left;
	margin-top: -5%;
}

.file_add {
	background-color: transparent;
	color: white;
	border: 0 none transparent;
	width: 15px;

	overflow-y: scroll;
	padding: 0;

	margin: 1% auto 0 1%;
	float: left;
}
